
*{
    font-family: Montserrat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 400px;
    color: aliceblue;
    border: 1px solid black;
    margin: 100px auto;
    border-radius: 50px;
    background-image: url(M.QuoteImages/robin-pierre-dPgPoiUIiXk-unsplash.jpg);
    background-size: cover;
}

.container .buttom-section{
    width: 100%;
    height: 65px;
    background-color: #616161b4;
    position: relative;
    left: 0;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}

.home-quote{
    border: 1px solid blue;
}

.home-quote h1{
    font-family: Montserrat;
    font-size: 3rem;
}
